@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

ul{
  list-style-type: none;
  /* border: solid red; */
  display: flex;
  gap: 10px;
  padding: 0px 15px;
  flex-grow: 1;
  /* justify-content:center; */
}

.right-links{
  justify-content: end;
}

a{
  text-decoration: none;
  /* border: solid red; */
  color: grey;
}
.header, .footer{
  /* border: solid red; */
  display: flex;
  padding: 0px 5px;
}
.footer{
  background-color:#eeeeee;
}

.right-link{
  display: flex;
  justify-content: center;
}
img {
  width: 600px;
  padding-top: 50px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons{
  padding-bottom: 50px;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

.input{
  padding: 15px;
}
input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
