.one,
.three,
.five{
  background-color: rgb(245, 162, 161);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two{
  color: #0000FF;
  font-size: 36px;
}

.three,
#four{
  font-size: 24px;
}

#four{
  background-color: hsl(117, 88%, 78%);
  font-weight: bold;
}
