.cow,
.cat,
.mouse{
  background-color: rgb(245, 162, 161);
  font-family: Verdana, DejaVu Sans, sans-serif;
}

#roll{
  color: #0000FF;
  font-size: 36px;
}

.cat,
#digit{
  font-size: 24px;
}

#digit{
  background-color: hsl(117, 88%, 78%);
  font-weight: bold;
}
