.header  {
  font-family: monospace;
  background: papayawhip;
  /* this creates a container*/
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;

  /* this creates a container*/
  display: flex;
  justify-content: space-between;
  margin: 1;
  padding: 0;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  /* this creates a container*/
  display: flex;
  margin: 5px;
  padding: 1;
  color: blue;
}